<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Regreso a Clases</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

    <header>
        <a href="#" class="logo">MiColegio</a>
        <div class="nav-buttons">
            <button class="btn" onclick="alert('Función Iniciar Sesión')">Iniciar Sesión</button>
            <button class="btn btn-primary" onclick="alert('Función Inscripción')">Inscripción</button>
        </div>
    </header>

    <main>
        <h1>¡Bienvenidos de Vuelta!</h1>
        <p>Prepárate para un nuevo año lleno de aprendizajes, aventuras y muchos éxitos.</p>
    </main>
</body>
</html>